@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
    padding: 10px;
    background-color: rgb(13, 14, 14);
}

.container-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

header{
    background-color: black;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-flow: row wrap;
    border-radius: 5px;
}

.header__logo-tipo{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: lighter;
}

.header-nav__menu-opções{
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 18px;
}

.header-nav__menu-opções a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.header-nav__menu-opções a:hover{
    background-color: rgb(204, 226, 1);
}

main{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    gap: 30px;
}

.main__titulo-principal{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* Bloco Principal */

.main-bloco{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    height: fit-content;
    padding: 10px;
}

/* Bloco Principal */

.main-bloco__conteudo{
    background-color: rgb(42, 44, 46);
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 350px;
    border-radius: 10px;
    width: 300px;
}

.main-bloco__conteudo ul{
    list-style: inside;
    color: rgb(204, 226, 1);
    
}

.main-bloco__conteudo ul li{
    list-style: inside;
    color: rgb(204, 226, 1);
    font-size: 14px;
}

.conteudos-principais{
    padding: 10px;
}

.conteudos-principais h2{
    border-bottom: 1px solid rgb(204, 226, 1);
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.valor{
    font-weight: bold;
    font-size: 18px;
}

.bloco-conteudo__pequeno{
    font-size: 10px;
}

/* Botões */

.botao{
    background-color: rgb(204, 226, 1);
    padding: 15px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    border: none;
}

.botao:hover{
    background-color: rgb(41, 41, 41);
    color: white;
    border: 1px solid white;
}


