@charset "UTF-8";

/* Configurações de reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    padding: 10px;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 700px;
}

td,th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.destaque{
    background-color: yellow;
    border: 2px solid orange;
    padding: 10px;
    width: 200px;
}