@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media all{

    body{
        background-color: gray;
        padding: 10px;
    }
    
    h1{
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    .container_cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .card{
        color: white;
        padding: 10px;
        background-color: rgb(34, 34, 34);
    }

}

@media screen and (min-width: 860px){
    
    .container_cards{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex: 1 0 300px;
    }


}

