@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root{
    --cor-principal: #454758;
    --cor-escura: #32333d;
    --cor-titulo: #b9664e;
    --cor-texto: #767782;

    --font-padrão: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: var(--font-padrão);
}

#container_perfil{
    background-color: var(--cor-escura);
    width: 25%;
}

#container_perfil > img{
    max-width: 100px;
}

#container_conteudo{
    background-color: var(--cor-principal);
    width: 75%;
}