@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #454758;
    --cor-escura: #32333d;
    --cor-titulo: #ff6439;
    --cor-texto: #e7e7e7;
    --cor-hover: #616161;
    --font-padrão: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

html{
    line-height: 35px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: var(--font-padrão);
    /*background-image: url(img/bg-unsplash.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}

h1{
    font-size: 40px;
    margin: 20px 0px 30px;
}

h2{
    margin-top: 10px;
}

h2, 
h3, 
h4, 
h5, 
h6
{
    color: var(--cor-titulo);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}

p{
    color: var(--cor-texto);
}

.main-header{
    background-color: var(--cor-escura);
    flex: 0 0 260px;
    text-align: end;
    
}

.main-header nav{
    padding: 65px 24px 24px;
}

.main-header_img{
    width: 100px;
    height: 100px;
}

.main-header ul > li{
    list-style-type: none;
    border-bottom: 1px solid var(--cor-texto);
    padding-bottom: 5px;
    margin-bottom: 5px;
    
}

.main-header ul li > a{
    display: block;
    padding: 10px 0px;
    transition: padding 0.2s, background-color 0.5s;
}

.main-header ul li > a:hover{
    background-color: var(--cor-hover);
    padding-right: 10px;
}

/* Finalização das configurações do cabeçalho (Header) */

/* Configurações do conteúdo principal (Main) */

.main-principal{
    flex: 1 0;
    background-color: var(--cor-principal);
    padding: 65px 60px 75px;
}

.main-principal h1{
    color: #9c9c9c;
}

.main-principal_article{
    padding-top: 35px;
    margin-bottom: 15px;
}

.italico{
    font-style: italic;
}

.especial{
    color: red;
}







































/*

#container_perfil{
    background-color: var(--cor-escura);
    width: 25%;
    padding: 40px 15px 15px 15px;
}

.perfil_img{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.perfil_img img{
    max-width: 100px;
    margin-bottom: 35px;
}

#container_perfil  a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: end;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(160, 160, 160);
    font-size: 15px;
    font-weight: normal;
    transition-duration: 0.3s;
}

#container_perfil  a:hover{
    background-color: rgb(29, 28, 28);
    padding-right: 15px;
}

/* Header ------------------------- */

/*
#container_conteudo{
    background-color: var(--cor-principal);
    width: 80%;
    padding: 70px 30px 30px 30px;
}

.conteudo__titulo-principal{
    color: gray;
    font-size: 2em;
    margin-bottom: 60px;
}

.conteudo-titulo-segundario{
    color: var(--cor-titulo);
    font-weight: bold;
    margin-bottom: 5px;
}

.conteudo-titulo-gerais{
    color: var(--cor-titulo);
    font-weight: normal;
    margin: 15px 0px;
}

.conteudo_article p{
    color: white;
    font-weight: bold;
}

.conteudo_redes-sociais{
    display: flex;
    gap: 5px;
    padding: 10px 10px 10px 0px;
}

.conteudo_redes-sociais a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
    max-width: 120px;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 5px;
}

.conteudo_redes-sociais a > img{
    width: 20%;
    color: white;
}

*/