@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
}

:root {
    --cor-item-texto: #8c8c8c;
    --padding-padrao: 1em;
}

/* Configurações Gerais */

a {
    list-style: none;
    text-decoration: none;
}

.item {
    color: var(--cor-item-texto);
}

/* Configurações Body */

.ContainerBody {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
}

/* Configurações Header */

.header {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / -1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-padrao);
    align-items: center;
}

.header_itens {
    color: var(--cor-item-texto);
    height: fit-content;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.header_criador {
    height: fit-content;
}

.header_criador-name {
    color: black;
    font-weight: bold;
}

/* Configurações Nav */

.ContainerNav {
    background-color: var(white);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 36px 2em;
}

.nav_title {
    text-transform: uppercase;
    margin-bottom: 58px;
    color: black;
    font-size: 25px;
}

.nav_flex {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_itens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.item-logout {
    font-size: 18px;
}

/* Configurações Main */

.ContainerMain {
    background-color: #F3F1FA;
    padding: 1em;
    grid-row: 2 / -1;
    grid: 2 / -1;
}

.ContainerGrid {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_resultado {
    background-color: black;
    width: 100%;
    height: 120px;
}

.main_grafico-announced {
    /* background-color: red; */
    width: 100%;
    height: 240px;
}

.main_grafico-announced img{
    display: block;
    width: 100%;
    height: 100%;
}

.main_grafico-today {
    /* background-color: #F3F1FA; */
    background-color: blue;
    width: 100%;
    height: 240px;
}