@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}

:root {
    --cor-item-texto: #797979;
    --cor-nav-header: #FFFDFF;
    --padding-padrao: 1em;
}

/* Configurações Gerais */

.item, .item a{
    color: var(--cor-item-texto);
    list-style: none;
    text-decoration: none;
    font-size: px;
}

/* Configurações Body */

.ContainerBody {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
}

/* Configurações Header */

.header {
    background-color: red;
    grid-column: 2 / -1;
    grid-row: 1;
}

/* Configurações Nav */

.ContainerNav {
    background-color: var(--cor-nav-header);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_flex {
    border-bottom: 1px solid var(--cor-item-texto);
    padding: 0 1em 1em 0em;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.nav_flex ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_flex ul li a, .item-logout, .nav_title {
    outline: 2px solid white;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    background-color: yellow;
    padding: 0em 1em;
}

.nav_title {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    margin-bottom: 60px;
    background-color: aqua;
}

/* Configurações Main */

.ContainerMain {
    background-color: rgb(167, 167, 22);
    grid-row: 2 / -1;
    grid: 2 / -1;
}