@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, transparent 50%, rgb(204, 0, 255)),url(imagens/tile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    background-attachment: fixed, fixed;
}

.cores{
    border: 5px solid rgb(252, 66, 66);
    margin: 20px auto;
    width: 80%;
    padding: 10px;
}

/*

* Realizando a configuração de um contador.

* Primeiro passo: Devemos resetar a contação a partir da nossa div pai, no qual é a nossa div section, sendo assim, a partir que adicionamos o comando counter-reset: estamos resetando a nossa contato.

* Segundo passo: Após o primeiro passo, devemos usar o counter-increment, no qual vai ser usado para começar a nossa contagem, ou seja, a partir de cada div.cores, ira ser acrecentado +1, sendo realizado a contagem de 1+1.

* Importante: é importante darmos um nome para a nossa função, para ser usada no content, por exemplo dei o nome "contador".

*/

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "" counter(contador) ".";
    background: grey;
    width: 100%;
    display: inline-block;
}

.cores p{
    margin-top: 20px;
    color: rgb(80, 80, 80);
    padding: 5px;
}

