@charset "UTF-8";


a[href^="http"]::after{
    content: url(img/newWindow-icon.png);
}

a[href$=".pdf"]::before{
    content: url(img/pdf-icon.gif);
}

label[for="chk1"]:active{
    color: greenyellow;
}

input#chk1:focus:checked{
    color: greenyellow;
}

ul > li:nth-child(3){
    background-color: red;
}