@charset "UTF-8";


a[href^="http"]::after{
    content: url(img/newWindow-icon.png);
}

a[href$=".pdf"]::before{
    content: url(img/pdf-icon.gif);
}

ul > li:nth-child(3){
    background-color: red;
}

input[type="checkbox"]:checked+label{
    color: rgb(78, 131, 0);
}

input[type="checkbox"]+label{
    color: red;
}