@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

:root {
    --cor-de-fundo: #2d2e78;
    --cor-de-fundo2: #5a5de7;
    --cor-calculadora: #557ba1;
    --cor-botao: #1c1a1b;
    --cor-botao2: #323032;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, var(--cor-de-fundo), var(--cor-de-fundo2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerCalc {
    background-color: var(--cor-calculadora);
    width: 60%;
    height: 31.25em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 5px;
}

/* Porque não foi possível adicionar o box-shadow? */

/* div{
    box-shadow: 1px 1px solid black;  
} */

.Calc_painel {
    padding: 0.6em;
    font-size: 35px;
    text-align: end;
}

.bnt-cor {
    background-image: linear-gradient(to top, var(--cor-botao), var(--cor-botao2));
    color: white;
    font-weight: bolder;
}

.digito-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.Calc-bnt_container {
    flex-grow: 1;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "digitoAC digito-porcentagem digitoX digito-barra"
    "digito7 digito8 digito9 digito-asteristico"
    "digito4 digito5 digito6 digito-menos"
    "digito1 digito2 digito3 digito-mais"
    "digito0 digito0 digito-ponto digito-mais";
}
 
.digitoAC {
    grid-area: digitoAC;
}

.digito-porcentagem {
    grid-area: digito-porcentagem;
} 

.digitoX {
    grid-area: digitoX;
}

.digito-barra{
    grid-area: digito-barra;
}

.digito-asteristico {
    grid-area: digito-asteristico;
}

.digito-menos{
    grid-area: digito-menos;
}

.digito-mais {
    grid-area: digito-mais;
}

.digito-ponto {
    grid-area: digito-ponto;
}

.digito0 {
    grid-area: digito0;
}

.digito1{
    grid-area: digito1;
}

.digito2{
    grid-area: digito2;
}

.digito3{
    grid-area: digito3;
}

.digito4{
    grid-area: digito4;
}

.digito5{
    grid-area: digito5;
}

.digito6{
    grid-area: digito6;
}

.digito6{
    grid-area: digito6;
}

.digito7{
    grid-area: digito7;
}

.digito8{
    grid-area: digito8;
}

