@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --cor-de-fundo: #2d2e78;
    --cor-de-fundo2: #5a5de7;
    --cor-calculadora: #557ba1;
    --cor-botao: #1c1a1b;
    --cor-botao2: #323032;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, var(--cor-de-fundo), var(--cor-de-fundo2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerCalc {
    background-color: var(--cor-calculadora);
    width: 60%;
    height: 31.25em;
    padding: 1.75em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Calc_painel {
    outline: 2px solid red;
    padding: 0.4em;
    font-size: 2em;
    text-align: end;
}

.bnt-cor {
    background-image: linear-gradient(to top, var(--cor-botao), var(--cor-botao2));
    color: white;
    font-weight: bolder;
}

.Calc-bnt_container {
    outline: 2px solid blue;
    flex-grow: 1;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
