@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
}


div#container{
    background-color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
}

main{
    gap: 0px 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6"
    ;
    flex: 1 0 auto;
}

section#item1{
    grid-area: item1;
}

section#item2{
    grid-area: item2;
}

section#item3{
    grid-area: item3;
}

section#item4{
    grid-area: item4;
}

section#item5{
    grid-area: item5;
}
section#item6{
    grid-area: item6;
}

section{
    height: 200px;
    border: 2px solid black;
    background-color: white;
    

    flex-basis: 200px;
}

footer{
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
}