@charset "UTF-8";

/* Mobile Fisrt */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-header: rgb(42, 40, 42);
    --font-dest: 'Times New Roman', Times, serif;
}


body{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    height: 180px;
    width: 100%;
    background-color: var(--cor-header);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header > p > img{
    width: 100%;
}

nav{
    font-size: 18px;
    width: 100%;
    display: flex;
    gap: 0px 50px;
    justify-content: center;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;  
    border-radius: 10px;
    transition: 0.5s;
}

nav > a:hover{
    background-color: rgb(63, 63, 63);
}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main > h1{
    text-align: center;
    font-family: var(--font-dest);
}

main > p{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

section.conteudo{
    height: auto;
    background-color: rgb(251, 251, 252);
    width: auto;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}

section.conteudo > img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

section.conteudo > h2{
    padding: 10px;
}

section > p{
    padding: 15px;
    text-align: justify;
}

aside#conteudo-extra{
    background-color: rgb(77, 77, 77);
    font-family: var(--font-dest);
    padding: 40px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    flex: 1 0 auto;
}

section > img{
    width: 100%;
}

section.extra{
    min-width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

section.extra > img{
    border-radius: 10px;
}

footer{
    padding: 20px;
    background-color: var(--cor-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer > p > img{
    width: 100%;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font-family: var(--font-dest);
}
