@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


main{
    background-color: gainsboro;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.bloco{
    height: 200px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Provavelmente, o motivo de não estar dando certo seja a configuração do .item, visto que em meu projeto não foi realizada essa configuração -- DEVEMOS REVISAR NOVAMENTE */

