@charset "UTF-8";

/* Mobile First */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*

 }
  .container { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkgray;
  }

*/

body{
    background-color: rgb(190, 190, 190);
    min-height: 100vh; /* Sempre usar esse comando */
    display: flex;
    flex-direction: column;
}
/* }
  .header {
    flex-basis: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
*/

header{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

p{
    font-size: 29px;
}

/*
.mainContent { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    flex: 1 0 auto; 
*/

main{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex: 1 0 auto; /* Revisar essa configuração */
    flex-wrap: wrap;
}

section{
    background-color: white;
    height: 250px;
    flex-basis: 350px; /* Ele determina o tamanho máximo do meu item seja de 350px, em todas dimensoes, mesmo esando em tela de celualr, notebook, ou pc */
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}