@charset "UTF-8";

/* Mobile Fisrt */
/* Importante: Pesquisar por "typical device breakpoints" através dessa pesquisa, conseguimos visualizar todas as atualizações e medidas de tela para usar o mobile first*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px;
}

main{
    background-color: rgba(255, 255, 255, 0.562);
    width: 450px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;} /* Screen Celular */
img#tv{display: none;} /* Screen TV */
img#tablet{display: none;} /* Screen Tablet */
img#print{display: none;} 
img#pc{display: none;}