:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;
}

.content-wrapper-center {
    padding: 1rem;
    max-width: 67.25rem;
    margin: auto;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;

    /* Informação importante: Display none será usado como o menu, após idsplay block/inlie */
}

.header-menu a {
    display: block;
    padding: 2em 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}


.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;

    /* Configuração Flexbox - */
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
    padding: 64px 0px;
}

.contato_title{
    margin-top: 0;
}

.contato_image {
    display: none;
}

.footer {
    background-color: var(--gray);
    padding: 3rem 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
.testemunho {
    margin-bottom: 15px;
}

.copyright {
    white-space: nowrap;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.row {
    display: grid;
    gap: .5rem;
    grid-auto-flow: dense;
}

.row > .sm-12 {
    grid-column: 1 / -1;
}

/* Tamanho Tablet = md */
@media screen and (min-width: 45em){

    body {
        text-align: left;
        background-image: 
            radial-gradient(circle at left top, rgb(142 172 213 / .3 ), transparent 400px),
            radial-gradient(circle at right center, rgb(142 172 213 / .3 ), transparent 400px);
    }   

    .imagem {
        text-align: center;
    }

    .testemunho img {
        width: 150px;
        height: 150px;
    }

    .testemunho {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .contato {
        padding: 20px 15px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        gap: 15px;
        /* margin-left: 10px; */
    }

    .menu-conf {
        display: none;
    }

    .header-menu li{
        display: inline-block;
    }

    .header-menu li a {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .row {
        gap: 1rem;
    }
    
    .row > .md-6-12 {
        grid-column: 7 / 13;
    }

    .row > .md-1-6 {
        grid-column: 1 / 7;
    }

    .row > .md-1-9 {
        grid-column: 1 / 10;
    }

    .row > .md-7-12 {
        grid-column: 7 / 13;
    }

    .row > .mg-8-12 {
        grid-column: 8 / 13;
    }

    .row > .md-10-12 {
        grid-column: 10 / 13;
    }

    .contato_image{
        display: block;
    }

    .menu-icon {
        display: none;
    }
}

/* Tamanho Laptop = lg */
@media screen and (min-width: 90em){

    .row {
        gap: 3rem;
    }
    
    .row > .lg-1-4 {
        grid-column: 1 / 5;
    }

    .row > .lg-1-5{
        grid-column: 1 / 6;
    }

    .row > .lg-1-6 {
        grid-column: 1 / 7;
    }

    .row > .lg-1-7 {
        grid-column: 1 / 8;
    }

    .row > .lg-5-8{
        grid-column: 5 / 9;
    }

    .row > .lg-7-9 {
        grid-column: 7 / 10;
    }

    .row > .lg-8-12 {
        grid-column: 8 / 13;
    }

    .row > .lg-9-12 {
        grid-column: 9 / 13;
    }

    .row > .lg-10-12{
        grid-column: 10 / 13;
    }

    .testemunhos_wrapper {
        display: grid;
    }

    .testemunho {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .testemunhos_title {
        text-align: center;
    }

    .contato {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse, nowrap;
    }
}

@media screen and (max-width: 44.99em) {

    /* Configurações Menu Mobile */

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;  
        transition: 5s;
    }

    .header-menu {
        text-align: center;
        text-transform: uppercase;
        display: none;
    }

    .header-menu a:hover {
        background-color: var(--primary-color-dark);
        color: white;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 5px;
    }

    .menu-icon {
        color: rgb(0, 0, 0);
        text-align: center;
        display: block;
        font-size: 18px;
        cursor: pointer;
        padding: 2em 0;
        border-radius: 5px;
    }

    .menu-icon {
        position: relative;
    }

    .menu-conf {
        display: inline-block;
        position: absolute;
        top: 70px;
        right: 309px;
        width: 1px;
    }

    .menu-btn {
        color: red;
    }

    .menu-conf:checked ~ .header-menu {
        display: block;
        transition: 5s;
    }

}
