@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    padding: 20px;
    background-color: rgb(224, 224, 224);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 15px;
    grid-auto-rows: minmax(200px, auto); /* Ele serve para não deixar os meus itens quebrar */
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item3"
    "item2 item2 item4"
    "item5 item5 item5"
    "item6 item6 item7"
    "item8 item8 item7"
    "item9 item9 item9"
    ;
}

.item{
    background-color: rgb(168, 168, 168);
    border: 2px solid gainsboro(145, 145, 145);
    font-size: 30px;
    padding: 10px;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}
.item3{
     grid-area: item3;   
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}

.item9{
    grid-area: item9;
}

p{
    display: none;
}

