@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right, #FFF6C9 , #FECA56);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2em 0;
}

.container-center {
    outline: 2px solid red;
    max-width: 95%;
    margin: auto;

    /* Configuração Flex */
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section_conteudo {
    display: flex;
    flex-wrap: wrap;
}

.conteudoContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 50px;
}

.conteudoContainer h1 {
    font-size: 48px;
}

.text_destaque {
    text-transform: uppercase;
    color: #AE2521;
}

.destaque-m {
    text-transform: uppercase;
    margin-bottom: 15px;
}

input[type="text"] {
    background-color: transparent;
    outline: 1px solid black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.bnt {
    background-color: #051E49;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Configuração Animação Emoji */

.conteudo_emoji {
    background-color: white;
    width: 50%;
    position: relative;
    height: 555px;
}

.imagem {
    display: block;
    margin: auto;
    width: 100%;
    height: 555px;
    background-color: transparent;
}

.emoji {
    position: absolute;
}

.emojis-1 {
    top: 120px;
    right: 474px;
}

.emojis-2 {
    top: -11px;
    right: 87px;
}

.emojis-3 {
    top: -17px;
    right: 50px;
}

.emojis-4 {
    bottom: -23px;
    left: 121px;
}

.emojis-5 {
    top: -95px;
    left: 108px;
}

.emojis-6 {
    bottom: 99px;
    right: 18px;
}
