@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right, #FFF6C9 , #FECA56);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2em 0;
}

.container-center {
    max-width: 95%;
    margin: auto;

    /* Configuração Flex */
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

.section_conteudo {
    display: flex;
}

.conteudoContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 3.125rem;
}

.conteudoContainer h1 {
    font-size: 3rem;
}

.text_destaque {
    text-transform: uppercase;
    color: #AE2521;
}

.destaque-m {
    text-transform: uppercase;
    margin-bottom: 0.93rem;
}

input[type="text"] {
    background-color: transparent;
    outline: 1px solid black;
    border: none;
    padding: .625rem;
    border-radius: .3125rem;
    margin-right: .3125rem;
}

.bnt {
    background-color: #051E49;
    color: white;
    padding: .625rem .9375rem;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
}

/* Configuração Animação Emoji */

.conteudo_emoji {
    width: 50%;
    position: relative;
    height: 34.68rem;
}

/* .imagem {
    display: block;
    margin: auto;
    width: 100%;
    height: 34.68rem;
    background-color: transparent;
} */

.emoji {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: forwards; */
}

.emojis-1 {
    top: 120px;
    right: 474px;
    animation-name: animação;
    animation-duration: 2s;
    
}

.emojis-2 {
    top: -11px;
    right: 87px;
    animation-name: animação;
    animation-duration: 2s;
}

.emojis-3 {
    top: -17px;
    right: 50px;
    animation-name: animação;
    animation-duration: 2s;
    animation-delay: 2s;
}

.emojis-4 {
    bottom: -23px;
    left: 121px;
    animation-name: animação;
    animation-duration: 2s;
    animation-delay: 5s;
}

.emojis-5 {
    top: -95px;
    left: 108px;
    animation-name: animação;
    animation-duration: 3s;
    animation-delay: 2s;
}

.emojis-6 {
    bottom: 99px;
    right: 18px;
    animation-name: animação;
    animation-duration: 2s;
    animation-delay: 5s;
}

/* Animação Keyframes */

/* Animação 1: Será a responsável pela animação dos dois emojis superiores no canto superior esquerdo, no qual são representado pelas class: do 1 até 6*/
@keyframes animação {

    from {
        transform: translateY(0px) translateX(0px);
    }

    to {
        transform: translateY(35px) translateX(20px);
    }
}
