@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    background-color: rgb(191, 252, 231);
}

h1{
    color: rgb(8, 150, 102);
}

h2#personalizado{
    background-color: azure;
    text-align: center;
}

h2{
    color: rgb(13, 53, 53);
}

h3{
    color: rgb(8, 51, 37);
}

.titulo{
    color: brown;
}

.quadrado{
    background-color: blue;
    color: white;
}

.bolinha{
    text-indent: 40px;
    color: hsl(128, 100%, 65%), 59%, 41%; 
    font-family: Arial, Helvetica, sans-serif;
}