@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Times New Roman', Times, serif;
}

body, main{
    min-height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

form{
    background-color: rgb(32, 32, 32);
    color: white;
    width: 350px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

form h1{
    font-size: 15px;
    text-align: center;
    color: rgb(167, 167, 167);
    margin-bottom: 10px;
}

.input_text{
    height: 25px;
    background-color: black;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    padding: 0px 3px;
    width: 95%;
}

.campo{
    margin-bottom: 5px;
    display: block;
    padding: 5px;
    width: 100%;
}

.titulo_text{
    color: rgb(173, 173, 173);
    font-size: 12px;
    width: 95%;
    margin-bottom: 1px;
}

textarea{
    padding: 10px;
    background-color: rgb(88, 88, 88);
    resize: none;
    width: 90%;
    color: white;
    height: 120px;
}

#btn{
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

#btn-2{
    background-color: rgb(88, 88, 88);
    border: 0px;
    width: 15%;
    height: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}