@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

li{
    list-style: none;
}

.list{
    width: 70vw;
    flex-basis: 500px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.list-conteudo{
    background-color: white;
    height: fit-content;
    width: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.281);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.list-conteudo__papel-parede img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 35px;
}

.list-conteudo__imagem-perfil img{
    border-radius: 50%;
    width: 100px;
    position: absolute;
    top: 120px;
    left: 95px;
}

.list-conteudo__descrição{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.list-conteudo__nome{
    color: rgb(73, 73, 73);
    font-weight: bold;
}

.list-conteudo__email{
    color: rgb(141, 141, 141);
}

.list-conteudo__button{
    height: 70px;
    background-color: gainsboro;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



