@charset "UTF-8";

/* Configurações Geráis */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(187, 187, 187);
    background-image: url(../imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* Configurações Geráis */

header#header-geral{
    background-color: red;
}

main#main-geral{
    background-color: white;
}



/* Configurações do Conteudo */



/* Configurações do Conteudo */