@charset "UTF-8";

/* Configurações Geráis */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(187, 187, 187);
    background-image: url(../imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* Configurações Geráis */

div#container-geral{
    background-color: rgba(137, 43, 226, 0.226);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header#header-geral{
    width: 90%;
    height: 130px;
    color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1#header-geral__title{
    text-transform: uppercase;
    text-shadow: 2px 1px 2px black;
    font-size: 45px;
}

p#header-geral__paragrafo{
    background-color: rgba(0, 0, 0, 0.747);
    padding: 10px;
    border-bottom: 1px solid white;
}

main#main-geral{
    background-color: white;
    width: 90%;
    height: 500px;
}

div.main-geral-caixas{
    background-color: blue;
}


/* Configurações do Conteudo */



/* Configurações do Conteudo */