@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    width: 350px;
    padding: 10px;
    text-align: center;
}

section{
    background-color: white;
    flex-basis: 430px;
    width: 420px;
    overflow: hidden;
    overflow: auto;
}



article .contato{
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

article .contato:hover{
    background-color: gainsboro;
}

article .contato img{
    border-radius: 50%;
    width: 20%;
}

article .descrição{
    font-size: 14px;
}

.butao{
    width: 70%;
}

.butao a img{
    color: gainsboro;
}




