*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="checkbox"]{
    display: none;
    
}

input[type="checkbox"]+ label > span{
    background-color: red;
    font-size: 20px;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    background-color: white;
    outline: 1px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type="checkbox"]:checked + label > span{
    background-color: blue;
    outline: none;
}

input[type="checkbox"]+ label > span::before{
    content: "";
    border: .08em solid rgb(255, 255, 255);
    border-left: transparent;
    border-top: transparent;
    display: block;
    position: absolute;
    top: .2em;
    right: .32em;
    left: 0.4em;
    bottom: .32em;
    opacity: 0;
    transform: rotate(45deg);
    transition-duration: 0.2s;
}

input[type="checkbox"]:checked+label > span::before{
    opacity: 1;
}


