*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label span{
    background-color: blue;
    display: inline-block;
    font-size: 26px;
    width: 1.0em;
    height: 1.0em;
}

span::before{
    content: "";
    display: block;
    border: 2px solid white;
    width: 10px;
    height: 10px;
}