*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="checkbox"]{
    display: ;
}

input[type="checkbox"]+ label > span{
    background-color: red;
    width: 30px;
    height: 30px;
    display: inline-block;
}

input[type="checkbox"]+ label > span::before{
    content: "";
    background-color: blue;
    border: 1px solid black;
    display: inline-block;
    width: 20px;
    height: 20px;
}


