@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 75px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

img{
    height: 45%;
}

img#logo{
    width: 200px;
}

div#botoes{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
    
    transition: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
}


button:hover{
    font-weight: bold;
    border: 2px solid red;
    box-sizing: border-box;
}


