@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 100px;
    background-color: black;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



img{
    height: 45%;
}

ul{
    color: white;
    list-style: none;

    display: flex;
    justify-content: space-around;
    gap: 0px 10px;
}