@charset "UTF-8";

/*

* Reset configurações

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    font-size: 1em;
}

:root{
    --cor-primary: purple;
}

/* Configuração First Mobile. */

.header-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-principal_logo{
    display: inline-block;
    padding: 1em;
}

.nav-principal{
    background-color: var(--cor-primary);
    width: 100%;
}

.nav-principal ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-principal ul li{
    list-style: none;
    /* display: inline-block; */
    width: 100%;
    text-align: center;
}

.nav-principal ul li a:hover{
    background-color: rgb(202, 147, 202);
}

.nav-principal ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.90em;
    font-weight: bold;
    /* background-color: red; */
}

/* Beta - CSS Main */

.main-principal{
    background-color: red;
    
    padding: 1em;
}

.main-principal_article{
    margin-bottom: 0.75em;
    padding: 1em;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.main-principal_titulo-principal{
    color: var(--cor-primary);
}

.main-principal_texto-destaque{
    color: var(--cor-primary);
}

.main-principal_bnt{
    background-color: rgb(45, 223, 223);
    width: fit-content;
    display: block;
    padding: 1em 1.80em;
    border-radius: 0.30em;
    text-decoration: none;
    color: white;
}

/* 

>Configuração Desktop 
>800px media miníma.

*/

@media screen and (min-width: 53em){
    
    .header-principal {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-principal{
        width: fit-content;
        background-color: rgb(255, 255, 255);
        padding: 0;
    }

    .nav-principal ul{
        flex-direction: row;
        gap: 5px;
    }

    .nav-principal ul li a:hover{
        background-color: rgb(255, 224, 255);
        border-radius: .3em;
    }

    .nav-principal ul li a{
        color: var(--cor-primary);
    }

}

/*

>Configuração Latpot
>Configuração de media maior de 1024px

*/


@media screen and (min-width: 63.75em) {
    
    .header-principal {
        justify-content: space-around;
    }
}

