@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
}

/* Configuração First Mobile. */

.header-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    border: 2px solid gray;
}

.header-principal_logo{
    display: inline-block;
    /* background-color: red; */
    padding: 1em;
}

.nav-principal{
    background-color: purple;
    width: 100%;
    padding: 0.75em;
}

.nav-principal ul li{
    list-style: none;
    text-align: center;
}

.nav-principal ul li a{
    color: white;
    text-decoration: none;
    /* background-color: blue; */
    display: block;
    padding: 0.75em;
    font-weight: bold;
}

