@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    font-size: 1em;
}

:root{
    --cor-primary: purple;
}

/* <! -- Configurações de Header -- !> */

.header-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-principal_logo{
    display: inline-block;
    padding: 1em;
}

.nav-principal{
    background-color: var(--cor-primary);
    width: 100%;
}

.nav-principal ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-principal ul li{
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav-principal ul li a:hover{
    background-color: rgb(202, 147, 202);
}

.nav-principal ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.90em;
    font-weight: bold;
}

@media screen and (min-width: 53em){
    
    .header-principal {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        background-color: white;
    }

    .nav-principal{
        width: fit-content;
        background-color: rgb(255, 255, 255);
        padding: 0;
    }

    .nav-principal ul{
        flex-direction: row;
        gap: 5px;
    }

    .nav-principal ul li a:hover{
        background-color: rgb(255, 224, 255);
        border-radius: .3em;
    }

    .nav-principal ul li a{
        color: var(--cor-primary);
    }    
}

@media screen and (min-width: 63.75em) {
    
    .header-principal {
        justify-content: space-around;
    }
}

/* <!-- Finalização de Configurações Header --!> */

/* <!-- Congiuração HeroBanner --!> */

.HeroBanner{
    /* background-color: gray; */
    padding: 1.5em;
    text-align: center;
    line-height: 1.90em;
}

.icon-play img{
    width: 10%;
    display: none;
}

.HeroBanner_title{
    margin-bottom: .93em;
    color: var(--cor-primary);
    font-size: 1.80em;
}

.HeroBanner_subtitle{
    margin-bottom: .93em;
    font-size: 1em;
    text-align: center;
    color: rgb(213, 119, 213);
}

.btn-header{
    background-color: aqua;
    padding: 1em 2.90em;
    display: inline-block;
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 53em){
    .HeroBanner{
        background-color: var(--cor-primary);
    }

    .HeroBanner_title{
        color: white;
    }

    .icon-play img{
        display: inline-block;
        margin-bottom: .93em;
    }

    .HeroBanner_subtitle{
        color: white;
    }
}

@media screen and (min-width: 63.75em){
    .HeroBanner{
        background-image: url(../imagens/bg_topo_1198x670.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        width: 100%;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 73.75em){
    .HeroBanner{
        background-image: url(../imagens/bg_topo_1600x1374.jpg);
        background-color: var(--cor-primary);

        width: 100%;
        height: 80vh;
    }
}


/* <--! Iniciando Confiurações Main --!> */

.ContainerMain{
    padding: 1em;
    /* outline: 2px solid black; */
    text-align: center;
    line-height: 1.75em;
}

.ContainerMain a{
    color: inherit;
    text-decoration: none;
}

.maxwidht{
    margin: auto;
    width: 70.25em;
}

.row{
    display: flex;
    flex-flow: wrap row;
    gap: 1em;
}

.ContainerMain span[class^="icon-"]{
    font-size: 3.5em;
    color: var(--cor-primary);
}

.ContainerMain_title{
    color: var(--cor-primary);
    font-size: 1.25em;
    text-transform: uppercase;
}

.col{
    /* outline: 2px solid blue; */
    width: 100%;
    flex: 1 0 auto;
}

.col-p-12{
    width: 100%;
}

@media screen and (min-width: 53em){
    
    .col-m-6{
        width: calc(50% - 1em);
    }
}

@media screen and (min-width: 63.75em) {

    .col-g-3{
        width: calc(25% - 1em);
    }
}

