@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

#galeria{
    width: 85%;
    background-color: white;
    height: 500px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;

}
