@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

#galeria{
    width: 90%;
    background-color: white;
    height: fit-content;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}


img{
    width: 10px;
}