@charset "UTF-8";

/* Iniciando Configurações Gerais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
}

.header{
    width: 100%;
    background-color:#2A2A2A;
    position: sticky;
    top: 0;
    left: 0;
}

#header-principal{
    margin: auto;
    max-width: 1276px;
    padding: 10px 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal img{
    width: auto;
}

ul#header-principal-nav__opções{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

ul#header-principal-nav__opções li{
    list-style: none;
    outline: 1px solid #FED001;
    padding: 10px 15px;
    transition-duration: 0.3s;
}

a.opções__botões{
    color: #FED001;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

ul#header-principal-nav__opções li:hover{
    background-color: #1d1d1d;
}

/* Finalização do Header */

/* Inicialização do Main */

.main{
    background-color: blue;
}

.WopperContainer{
    margin: auto;
    max-width: 1276px;
}

.section1{
    background-image: linear-gradient(to top, #FFFF38, white);
}

.section2{
    background-color: white;
}

section#main-principal__primeiro-container{
    
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    gap:20px;
    padding: 20px 20px 0px 20px;
}

section#main-principal__primeiro-container img{
    display: block;
}

article#primeiro-container__conteudo{
    height: 560px;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

article#primeiro-container__conteudo h1{
    color: #2A2A2A;
    font-size: 60px;
    width: 100%;
    margin-bottom: 1em;
}

article#primeiro-container__conteudo input{
    background-color: #FED001;
    padding: 20px;
    width: 200px;
    color: #2A2A2A;
    font-size: 18px;
    border: 1px solid #FED001;
    border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.459);
    transition-duration: 0.5s;
}

article#primeiro-container__conteudo input:hover{
    background-color: #2A2A2A;
    border: 1px solid #FED001;
    color: #FED001;
}

section#main-principal__segundo-container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

section#main-principal__segundo-container h2{
    color: #071D2E;
    font-size: 2em;
    text-align: center;
    margin-top: 90px;
}

div#segundo-container__blocos-cursos{
    display: flex;  
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

.bloco-cursos__conteudo{
    width: 370px;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #2a2a2a0c;
    box-shadow: 1px 1px 6px -3px black;
}

.bloco-cursos__conteudo img{
    width: 100%;
}

article.bloco-cursos__texto{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 10px;
}

article.bloco-cursos__texto h3{
    font-weight: bolder;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article.bloco-cursos__texto p{
    color: #5f5f5f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button#bloco-cursos__botao{
    background-color: #FED001;
    padding: 20px;
    width: 200px;
    color: #2A2A2A;
    font-size: 18px;
    border: 1px solid #FED001;
    border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.459);
    transition-duration: 0.5s;
    margin-bottom: 90px;
}

button#bloco-cursos__botao:hover{
    background-color: #2A2A2A;
    border: 1px solid #FED001;
    color: #FED001;
}

button#bloco-cursos__botao a{
    text-decoration: none;
    color: #2A2A2A;
    padding: 15px;
}

button#bloco-cursos__botao a:hover{
    color: #FED001;
}

.section3{
    background-color: #003464;
}

section#main-principal__terceiro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;
    max-width: 1276px;
}

#main-principal__terceiro-container img{
    display: block;
    margin-top: 110px;
}

article#terceiro-container__conteudo{
    width: 600px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    height: 300px;
    gap: 15px;
    margin-top: 20px;
}

article#terceiro-container__conteudo h2{
    color: white;
}

article#terceiro-container__conteudo p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25.2px;
}

.section4{
    background-color: white;
}

section#main-principal__quarto-container{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    max-width: 1276px;
    gap: 20px;
}

section#main-principal__quarto-container h2{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
    margin-top: 110px;
}

div#quarto-container__mapa img{
    display: block;
    width: 100%;
}

div#quarto-container__mapa address p{
    padding: 10px 0px;
    color: black;
    display: block;
    text-align: right;
    width: 100%;
}

footer#footer-principal{
    height:95px;
    background-color: #2A2A2A;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer#footer-principal p{
    text-align: center;
    color: white;
}










