@charset "UTF-8";

/* Iniciando Configurações Gerais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Finalizando Configurações Gerais */

/* Inicializando Configurações Header */

header#header-principal{
    width: 100%;
    height: fit-content;
    background-color: #2A2A2A;
    padding: 10px 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header#header-principal img{
    width: auto;
}

nav#header-principal-nav{
    width: 440px;
}

ul#header-principal-nav__opções{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

ul#header-principal-nav__opções li{
    list-style: none;
    outline: 1px solid #FED001;
    padding: 6px;
    transition-duration: 0.3s;
}

a.opções__botões{
    color: #FED001;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

ul#header-principal-nav__opções li:hover{
    background-color: #FED001;
    color: #2A2A2A;
}

a.opções__botões:hover{
    color: #2A2A2A;
}

/* Finalizando Configurações Header */