@charset "UTF-8";

/* Iniciando Configurações Gerais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
}

/* Finalizando Configurações Gerais */

/* Inicializando Configurações Header */

header#header-principal{
    width: 100%;
    height: fit-content;
    background-color: #2A2A2A;
    padding: 10px 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header#header-principal img{
    width: auto;
}

nav#header-principal-nav{
    width: 440px;
}

ul#header-principal-nav__opções{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
   
}

ul#header-principal-nav__opções li{
    list-style: none;
    outline: 1px solid #FED001;
    padding: 6px;
    transition-duration: 0.3s;
}

a.opções__botões{
    color: #FED001;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

ul#header-principal-nav__opções li:hover{
    background-color: #FED001;
    color: #2A2A2A;
}

a.opções__botões:hover{
    color: #2A2A2A;
}

/* Finalizando Configurações Header */

/* Inicialização Configurações Main */

section#main-principal__primeiro-container{
    background-image: linear-gradient(to top, #FFFF38, white);
    height: fit-content;

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

article#primeiro-container__conteudo{
    height: 560px;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

article#primeiro-container__conteudo h1{
    color: #2A2A2A;
    font-size: 60px;
    width: 100%;
    margin-bottom: 1em;
}

article#primeiro-container__conteudo input{
    background-color: #FED001;
    padding: 20px;
    width: 200px;
    color: #2A2A2A;
    font-size: 18px;
    border: 1px solid #FED001;
    border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.459);
    transition-duration: 0.5s;
}

article#primeiro-container__conteudo input:hover{
    background-color: #2A2A2A;
    border: 1px solid #FED001;
    color: #FED001;
}

/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Segundo Container  ---------------------------------------------------------------------------------------*/

section#main-principal__segundo-container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section#main-principal__segundo-container h2{
    color: #071D2E;
    font-size: 2em;
    text-align: center;
}

div#segundo-container__blocos-cursos{
    display: flex;  
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bloco-cursos__conteudo{
    width: 370px;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #2a2a2a0c;
    box-shadow: 1px 1px 6px -3px black;
}

.bloco-cursos__conteudo img{
    width: 100%;
}

article.bloco-cursos__texto{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 10px;
}

article.bloco-cursos__texto h3{
    font-weight: bolder;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article.bloco-cursos__texto p{
    color: #5f5f5f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button#bloco-cursos__botao{
    background-color: #FED001;
    padding: 20px;
    width: 200px;
    color: #2A2A2A;
    font-size: 18px;
    border: 1px solid #FED001;
    border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.459);
    transition-duration: 0.5s;
    margin-bottom: 40px;
}

button#bloco-cursos__botao:hover{
    background-color: #2A2A2A;
    border: 1px solid #FED001;
    color: #FED001;
}

button#bloco-cursos__botao a{
    text-decoration: none;
    color: #2A2A2A;
    padding: 15px;
}

button#bloco-cursos__botao a:hover{
    color: #FED001;
}






